@import './variables.scss';

.content {
    min-width: 700px;
    flex: 1;
    background-color: whitesmoke;
    overflow-y: auto;
}

.project-show {
    h1 {
        background-color: $debug-blue2;
        color: white;
        font-size: 1.6em;
        padding: 10px;
    }

    h2 {
        margin: 10px;
    }
}

.create-task-form {
    display: flex;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 1px;

    input {
        padding: 7px 10px;
        width: 100%;
        border-radius: 0;
        border: none;
        outline: 0;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }
    }

    input[type=date] {
        width: 50%;
        border-radius: 0 4px 4px 0;
    }
}

.tasks-index {
    margin: 10px;
    background-color: $debug-blue2;
    border-radius: 4px;
    color: white;

    li {
        display: flex;
        padding: 10px;
        border-bottom: $debug-blue-border;

        &:last-child {
            border-bottom: none;
        }

        * {
            width: 100%;
        }

        .check-container {
            position: relative;
            cursor: pointer;
            width: fit-content;
            padding: 0 8px;
            margin-right: 10px;

            .custom-checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 16px;
                width: 16px;
                background-color: white;
                border-radius: 4px;
            }

            .custom-checkmark:after {
                content: '';
                position: absolute;
                display: none;
            }
        }

        .check-container:hover input~.custom-checkmark {
            background-color: whitesmoke;
        }

        .check-container input:checked~.custom-checkmark {
            background-color: $debug-blue;
        }

        .check-container input:checked~.custom-checkmark:after {
            display: block;
        }

        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }

        .check-container .custom-checkmark:after {
            left: 5px;
            top: 1px;
            width: 3px;
            height: 9px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.completed-task {
    text-decoration: line-through;
}
