@import './variables.scss';

.navbar {
    width: 300px;
    min-width: 300px;
    color: white;
    background-color: $debug-blue;

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 1.6em;
        padding: 10px;
        background-color: $debug-blue2;
        color: white;
    }
}

.username {
    font-size: 1.3em;
    padding: 10px;
}

.project-tile {
    font-size: 1.1em;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.login-links {
    padding: 10px;
    display: flex;
    justify-content: space-around;

    a:first-child {
        margin-right: 10px;
    }

    a {
        flex: 1;
        text-decoration: none;
    }
}

.session-button {
    font-size: 1.1em;
    text-align: center;
    padding: 10px 15px;
    color: black;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    border: none;

    &:active {
        background-color: rgb(209, 209, 209);
    }
}

.logout {
    margin: 0 10px;
    width: 90px;
}

.create-new-project {
    position: absolute;
    width: inherit;
    bottom: 0;
    padding: 12px;
    background-color: transparent;
    border: none;
    border-top: 1px solid rgb(0, 108, 197);
    color: white;
    font-size: 1.1em;
    outline: 0;
    text-align: left;
    cursor: pointer;
}

.logged-in-links {
    display: flex;
    flex-direction: column;
}

.projects-list li {
    border-bottom: 1px solid rgb(0, 108, 197);

    &:last-child {
        border-bottom: none;
    }
}
