@import './variables.scss';

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

#root {
    font-family: 'Lato', sans-serif;
    display: flex;
}

.navbar {
    padding: 10px;
    width: 300px;
    min-width: 300px;
    color: white;
    background-color: $debug-blue;

    h1 {
        font-size: 1.3em;
        padding: 10px 0;
        background-color: $debug-blue2;
    }
}

.content {
    min-width: 700px;
    flex: 1;
    background-color: whitesmoke;
    overflow-y: auto;
}
