@import './variables.scss';

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
}

.navbar {
    width: 300px;
    min-width: 300px;
    background-color: $debug-blue;
}

.content {
    min-width: 700px;
    flex: 1;
    background-color: skyblue;
    overflow-y: auto;
}
