@import './variables.scss';

// general

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

#root {
    font-family: 'Lato', sans-serif;
    display: flex;
}

// nav bar

.navbar {
    width: 300px;
    min-width: 300px;
    color: white;
    background-color: $debug-blue;

    a {
        text-decoration: none;
        color: white;
    }

    h1 {
        font-size: 1.4em;
        padding: 10px;
        background-color: $debug-blue2;
    }

    li {
        padding: 10px;
    }
}

.username {
    padding: 10px;
}

.project-tile {
    display: flex;
}

.login-links {
    padding: 10px;
    display: flex;
    justify-content: space-around;

    a:first-child {
        margin-right: 10px;
    }

    a:active {
        background-color: rgb(209, 209, 209);
    }

    a {
        flex: 1;
        text-decoration: none;
        text-align: center;
        padding: 10px 15px;
        color: black;
        background-color: rgb(245, 245, 245);
        border-radius: 4px;
    }
}

// content

.content {
    min-width: 700px;
    flex: 1;
    background-color: whitesmoke;
    overflow-y: auto;
}
